<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Home Page</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
  <header>
    <div class="container">
        <h1>Welcome to Blog</h1>
    </div>
  </header>
  <div class="login-panel">
    <h1>Login</h1>
    <form action="/login" method="POST">
      <div class="loginform">
        <label for="username">User Name</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="loginform">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="loginformactions">
        <button type="button" onclick="location.href='/register'">Author Register</button>
          &ensp;
        <button type="submit">Login</button>        
      </div>
      <button type="button" class="reader-button" onclick="location.href='/reader/home'">Go to Reader Page</button>
    </form>
  </div>
</body>
</html>